<header class="header">
    
    <div class="header-top">
        <div class="header-top-in">
            <div>Site de recette</div>
            <div id="my_overlay" class="my-overlay">
                <nav class="nav-icon">
                    <ul>
                        <li><a routerLink="/">Accueil</a></li>
                        <li><a routerLink="/recette">Recette</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    Entete ici



</header>