<header class="header">
    
    <div class="header-top">
        <div class="header-top-in">
            <div class="title"><a routerLink="/">Site de recette</a></div>
            <div id="my_overlay" class="my-overlay">
                <nav class="nav-icon">
                    <ul>
                        <li><a routerLink="/recette">Recette</a></li>
                        <li><a routerLink="#">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header-bloc">

        <img src="assets/img/recette-fond.jpg" alt="Site de recettes">

        <span class="filter"></span>

        <p>Bienvenue sur notre site de recettes !</p>

    </div>

</header>