h1 {
  text-align: center;
}

#mail h4 {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px;
}

#mailContainer, #passwordContainer, #fridge {
  margin-left: 20px;
  margin-right: 20px;
}

#mail a, #password a {
  text-decoration: underline;
}

#mail a:hover, #password a:hover {
  cursor: pointer;
}

#password, #changePassword {
  margin-top: 20px;
}

#fridge {
  margin-top: 50px;
  margin-bottom: 100px;
}

#separator {
  margin-top: 50px;
}