<main>

    <h1 class="center">Connexion</h1>

    <div class="form-box">

        <form [formGroup]="form" (ngSubmit)="login()">
            <div>
                <label for="login">Pseudo :
                    <input type="text" id="login" formControlName="login" required>
                </label>
            </div>
            <div>
                <label for="password">Mot de passe :
                    <input type="password" id="password" formControlName="password" required>
                </label>
            </div>
    
            <div class="right">
                <button class="btn btn-success">Connexion</button>
            </div>
        </form>

    </div>

    <p>Status log test : {{loged}}</p>

</main>