<main>

    <h2>Notre top recettes</h2>

    <app-slider/>

    <div class="box-image-flex">

        <div class="flex-child">
            <div class="flex-baby">
                <img src="assets/img/choux-creme.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur facere magnam commodi mollitia doloribus nostrum placeat aut reiciendis corporis ducimus. Omnis suscipit, perferendis veniam alias porro ipsa unde laudantium! Quos porro numquam assumenda ullam, voluptatum repellat minus, sit dolor veniam in libero dolores repellendus. Ipsum modi ad itaque mollitia necessitatibus.</p>
            </div>
            <div class="flex-baby">
                <img src="assets/img/choux-creme.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur facere magnam commodi mollitia doloribus nostrum placeat aut reiciendis corporis ducimus. Omnis suscipit, perferendis veniam alias porro ipsa unde laudantium! Quos porro numquam assumenda ullam, voluptatum repellat minus, sit dolor veniam in libero dolores repellendus. Ipsum modi ad itaque mollitia necessitatibus.</p>
            </div>
        </div>

        <div class="flex-child">
            <div class="flex-baby">
                <img src="assets/img/choux-creme.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur facere magnam commodi mollitia doloribus nostrum placeat aut reiciendis corporis ducimus. Omnis suscipit, perferendis veniam alias porro ipsa unde laudantium! Quos porro numquam assumenda ullam, voluptatum repellat minus, sit dolor veniam in libero dolores repellendus. Ipsum modi ad itaque mollitia necessitatibus.</p>
            </div>
            <div class="flex-baby">
                <img src="assets/img/choux-creme.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur facere magnam commodi mollitia doloribus nostrum placeat aut reiciendis corporis ducimus. Omnis suscipit, perferendis veniam alias porro ipsa unde laudantium! Quos porro numquam assumenda ullam, voluptatum repellat minus, sit dolor veniam in libero dolores repellendus. Ipsum modi ad itaque mollitia necessitatibus.</p>
            </div>
        </div>

    </div>







    <!-- <p>{{text}}</p> -->

</main>
