<main>

    <h1 class="center">Liste de Recettes</h1>




    
    <div class="recipes-container">
        
        <div>
            @if (recipes.length === 0) {
            <p>Aucune recette</p>
            }
        </div>

        @for (recipe of recipes; track recipe) {
        <div class="recipe-card">
            <h3>{{ recipe.nom }}</h3>
            <p>{{ recipe.description }}</p>
            <!-- <button (click)="showRecipeDetails(recipe.id)">Voir Détails</button> -->
        </div>
        }
    </div>

</main>